<div class="news">
    <style>
        p img {
            height: 1em;
            width: auto;
        }
    </style>
    <h2>Internship</h2>
    <p>
        <b>Google Cloud</b>, Smr. 2023
        &nbsp;<a href="https://cloud.google.com/"><img src="assets/img/google.png"></a>
        <span style="float:right;">Compilers</span>
    </p>
    <p>
        <b>OctoML</b>, Smr. 2022
        &nbsp;<a href="https://octoml.ai/"><img src="assets/img/octo.png"></a>
        <span style="float:right;"><a href="https://github.com/tlc-pack/relax/issues/160">Pattern Language</a></span>
    </p>
    <p>
        <b>Alibaba DAMO</b>, Smr. 2021
        <a href="https://damo.alibaba.com/"><img src="assets/img/alibaba.png"></a>
        <span style="float:right;">GNN Serving</span>
    </p>
    <p>
        <b>ByteDance AI Lab</b>, Spr. 2020
        &nbsp;<a href="https://www.bytedance.com/en"><img src="assets/img/bytedance.png"></a>
        <span style="float:right;">DNN Serving</span>
    </p>
</div>

<div class="news">
    <h2>Services</h2>
    <p>
        <b>Artifact Evaluation Committee</b>:
        <a href="https://pldi23.sigplan.org/"><b>PLDI</b>'23</a>,
        <a href="https://www.usenix.org/conference/osdi22/call-for-artifacts"><b>OSDI</b>'22</a>,
        <a href="https://www.usenix.org/conference/atc22/call-for-artifacts"><b>ATC</b>'22</a>
    </p>
    <p>
        <b>Reviewer</b>:
        <a href="https://ncsu-dk-lab.github.io/workshops/dcaa@2023/"><b>AAAI-DCAA</b>'23</a>
    </p>
</div>

<div class="news">
    <h2>Talks</h2>
    <b>NNSmith: Generating Diverse and Valid Test Cases for Deep Learning Compilers</b>
    <ul>
        <li>
            <a href="https://asplos-conference.org/2023">
                ASPLOS Conference Talk</a>
            <span style="float:right;">Mar. 2023</span>
        </li>
        <li>
            <a href="https://www.tvmcon.org/talks/automating-dl-compiler-bug-finding-with-nnsmith">
                TVMCon</a>
            <a href="https://www.youtube.com/watch?v=PQ9joxb2o9U"><img src="assets/img/video.png" width="25px"></a>
            <span style="float:right;">Mar. 2023</span>
        </li>
        <li>
            <a href="https://systems-seminar-uiuc.github.io/spring23/">
                System</a>, SE and <a href="https://compilerseminar.web.illinois.edu/">Compiler</a> Seminars, UIUC
            <span style="float:right;">Mar. 2023</span>
        </li>
    </ul>
    <b>Coverage-Guided Tensor Compiler Fuzzing with Joint IR-Pass Mutation</b>
    <ul>
        <li>
            <a href="https://2022.splashcon.org/program/program-splash-2022/?track=SPLASH%20OOPSLA%2BSPLASH%20V-OOPSLA">SPLASH/OOPSLA
                Conference Talk</a>
            <span style="float:right;">Nov. 2022</span>
        </li>
        <li>
            <a href="https://sampl.cs.washington.edu/talks.html">SAMPL Lunch Talks</a>
            <a href="https://www.youtube.com/watch?v=7974dkOZ6fI"><img src="assets/img/video.png" width="25px"></a>,
            UWashington
            <span style="float:right;">May 2022</span>
        </li>
        <li>
            SE Seminar, UIUC
            <span style="float:right;">Apr. 2022</span>
        </li>
    </ul>
</div>